
body{
	background-color:#C7E2FF;
	margin-bottom: 100px;

}
.img-header{
	background-image: url("../img/iceberg.jpg");
	background-size: cover;
	height:60vh;
}
.header-text{
	padding-top:20vh;
	margin-top: 0px;

}

.card{
	border-width:4px;
	border-color:#DBD5FF;
}

.col-md-12{
	background-color:#C7E2FF;

}

.no-margin{
	margin-bottom: 0;

}

.space{
	margin-top: 100px;
}